<!DOCTYPE html>
<html>
  <head>
    <title>Employee Growth trend</title>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" rel="stylesheet">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Employee Growth trend Over Time </h1>

    <form action="/employee_growth_trend">
        <select name="company_name">
            {% for name in company_names %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <input type="Submit"/>
    </form>

    {{ the_div|safe }}
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.js"></script>
    {{ the_script|safe }}
  </body>
</html>